@media (min-width: 770px) {
  nav ul {
    display: none;
  }
  nav {
    background-color: #540b51;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0 10px;
    margin: 0px;
    border-bottom: 1px solid #540b51;
  }
  nav img {
    width: 15%;
  }
  .icons {
    display: flex;
    gap: 15px;
  }
  .icons img {
    height: 30px;
    width: 80%;
    background-color: #540b51;
    border: 0px;
  }
  .icons button {
    border: 0px;
    background-color: #540b51;
  }

  header {
    background-color: #540b51;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 35px 22px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: left;
    padding-bottom: 32px;
    width: 220px;
  }
  header p {
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
  }
  header span {
    color: orange;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header button {
    width: 100%;
    text-transform: uppercase;
    height: 30px;
    margin-bottom: 10px;
    font-size: 8px;
    padding: 8px;
    border: none;
    border-radius: 3px;
  }
  .buttons > :nth-child(1) {
    color: #540b51;
  }
  #google-icon {
    height: 20px;
    background-color: white;
    padding: 1px;
    margin-right: auto;
  }
  .google-signup {
    background-color: #4285f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .google-signup span {
    color: white;
    text-align: center;
    margin-right: auto;
  }

  .header-image {
    display: flex;
    align-items: center;
  }
  .header-image img {
    width: 75%;
    height: 58%;
  }
  .companies {
    background-color: #f3eae2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .companies p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .companies div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .companies img {
    width: 8%;
    padding: 5px;
  }
}
